.main_content {
  padding: 20px;
}

.buttons {
  margin-top: 40px;
}

.sign_in_button {
  padding: 20px;
  border: 2px black solid;
  border-radius: 3px;
  background-color: #9bff8c;
}

.sign_in_button:hover {
  cursor: pointer;
}

.sign_up_button {
  margin-left: 60px;
  padding: 20px;
  border: 2px black solid;
  border-radius: 3px;
  background-color: #9bff8c;
}

.sign_up_button:hover {
  cursor: pointer;
}

.sign_in_content {
  float: left;
  width: 480px;
  margin-top: 50px;
  border: 2px black solid;
  border-radius: 3px;
}
.sign_in_form {
  margin: 10px;
}
#sign_in_div {
  display: none;
}

.sign_up_content {
  float: left;
  width: 480px;
  margin-top: 50px;
  border: 2px black solid;
  border-radius: 3px;
}
.sign_up_form {
  margin: 10px;
}
#sign_up_div {
  display: none;
}

.input_field {
    padding: 5px;
}
